<h1>Teacher</h1>
{{#link-to 'index'}}User page{{/link-to}}


<ul>
  {{#each model as |ticket|}}
    {{ticket-tile ticket=ticket saveTicket="saveTicket" destroyTicket="destroyTicket"}}
  {{/each}}
</ul>
